.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  background-color: white;
}

.navbar-list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-list__link {
  color: var(--grayish-blue);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.navbar-list__link:hover {
  color: var(--dark-blue);
}

.header__link {
  background-image: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
  padding: 10px 20px;
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
  color: white;
}

.header__hamburger-icon {
  background-color: transparent;
  border: none;
  outline: none;
  display: none;
}

@media (max-width: 768px) {
  .header__container {
    position: relative;
  }

  .navbar-list {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 0;
    text-align: center;
    padding: 10px 0;
    background-color: white;
    width: calc(100% - 10px);
    position: absolute;
    top: calc(100% + 20px);
    left: 5px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }

  .navbar-list__link {
    background-color: white;
    color: var(--dark-blue);
    display: block;
    padding: 10px;
  }

  .header__link {
    display: none;
  }

  .header__hamburger-icon {
    display: block;
  }
}
