@import url('header.css');
@import url('main-section.css');

:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);

  --header-height: 72px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: 'Public Sans', sans-serif;
}

.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.request-link {
  background-image: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
  padding: 10px 20px;
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
  color: white;
}

.title-text {
  color: var(--dark-blue);
}

.description-text {
  color: var(--grayish-blue);
}
